<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Disappearing Ninja!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  </head>
  <body>
    {% if color=='blue' %}
      <img src="{{url_for('static', filename='images/leonardo.jpg')}}" alt="Leonardo" class="ninja">
    {% elif color=='orange' %}
      <img src="{{url_for('static', filename='images/michelangelo.jpg')}}" alt="Michelangelo" class="ninja">
    {% elif color=='red' %}
      <img src="{{url_for('static', filename='images/raphael.jpg')}}" alt="Raphael" class="ninja">
    {% elif color=='purple' %}
      <img src="{{url_for('static', filename='images/donatello.jpg')}}" alt="Donatello" class="ninja">
    {% elif color=='' %}
      <img src="{{url_for('static', filename='images/leonardo.jpg')}}" alt="Leonardo" class="ninja">
      <img src="{{url_for('static', filename='images/michelangelo.jpg')}}" alt="Michelangelo" class="ninja">
      <img src="{{url_for('static', filename='images/raphael.jpg')}}" alt="Raphael" class="ninja">
      <img src="{{url_for('static', filename='images/donatello.jpg')}}" alt="Donatello" class="ninja">
    {% else %}
      <img src="{{url_for('static', filename='images/notapril.jpg')}}" alt="April" class="ninja">
    {% endif %}
  </body>
</html>
